body {
    margin-left:  20%;
    margin-right:  20%;
    font-size:  medium;
    background-color: white;
}

.contentDiv {
    //background-color:  #ece4ba;
    border-style:  solid;
    border-width:  2px;
    border-radius:  16px;
    border-color:  black;
    padding:  10px 10px 10px 10px;
}

.contentDiv.infoDiv {
    line-height:  60%;
}

#statusDiv {

}

.inline-p {
    display:  inline-block;
    font-size:  160%;
}
#statusText {
    color:  blue;
}

.contactDiv {
    background-color:  #fdfcb4;
    margin-left: 10%;
    margin-right:  10%;
    border-style:  dotted;
    border-width:  1px;
    border-radius:  8px;
    padding:  10px 10px 10px 10px;
}